<ion-content [fullscreen]="true" class="main">
  <ion-item lines="none" style="left:30px ;top: 120px; height: 160px; position: absolute; display: flex;">
    <ion-label>
      <h1 style="font-weight: 600; text-align: center; font-family: Raleway; font-style: normal; font-size: 30px; color: white;">Create New Account</h1>
    </ion-label>
  </ion-item>
  <ion-item lines="none" class="text" style="top: 279px;  position: absolute; display: flex;">
    <p style="color: white; font-size: 15px;">
      Name
    </p>
  </ion-item>
  <ion-item lines="none" class="input" style="top: 300px;  position: absolute; display: flex;">
    <ion-icon name="person-Sharp" style="width: 15px; height: 15px; border-color: #ffffff; border-width: thin; border-style: solid; border-radius: 25px;"></ion-icon>
    <ion-input style="--padding-start:10px; color: white; width: 150px; height: 15px; font-family: Raleway; font-size: 13px;" placeholder="Enter Your Name"></ion-input>
  </ion-item>
  <ion-item lines="none" class="text" style="top: 349px; position: absolute; display: flex;">
    <p style="color: white; font-size: 15px;">
      Username
    </p>
  </ion-item>
  <ion-item lines="none" class="input" style="top: 370px;; position: absolute; display: flex;">
    <ion-icon name="mail"></ion-icon>
    <ion-input style="--padding-start:10px; color: white; width: 15px; height: 15px; font-family: Raleway; font-size: 13px;" placeholder="Username"></ion-input>
  </ion-item>
  <ion-item lines="none" class="text" style="top: 419px;  position: absolute; display: flex;">
    <p style="color: white; font-size: 15px;">
      Contact number
    </p>
  </ion-item>
  <ion-item lines="none" class="input" style="top: 440px;  position: absolute; display: flex;">
    <ion-icon name="phone-portrait-outline"></ion-icon>
    <ion-input style="--padding-start:10px; color: white; width: 150px; height: 15px; font-family: Raleway; font-size: 13px;" placeholder="Contact Number"></ion-input>
  </ion-item>
  <ion-item lines="none" class="text" style="top: 489px;  position: absolute; display: flex;">
    <p style="color: white; font-size: 15px;">
      Password
    </p>
  </ion-item>
  <ion-item lines="none" class="input" style="top: 510px; position: absolute; display: flex;">
    <ion-icon name="lock-closed"></ion-icon>
    <ion-input style="--padding-start:10px; color: white; width: 150px; height: 15px; font-family: Raleway; font-size: 13px;" placeholder="Password"></ion-input>
  </ion-item>
  <ion-item lines="none" style="left:105px ;top: 600px; height: 35px; position: absolute; display: flex;">
    <ion-label>
      <button style="width: 150px; height: 35px; background-color: #319b3c; color: #ffffff; font-size: 18px;">Create Account</button>
    </ion-label>
  </ion-item>
</ion-content>
